

<style>
  .c{background-color:DEEPSKYBLUE;}
  .a {background-color:WHITESMOKE;
    border-style: outset;
    padding: 1em;}
    .b {
        text-decoration : underline;
        color: blue; 
    }
</style>

                         
  <div class="table-responsive" class="a"> 
    <h2 class="text-info"> <b>subtasks: </b></h2>

    <h2 class="text-default"> <b>Title: </b></h2>
 <h1> <label >{{ this.amira[this.id].subtasks[0].title }} </label></h1> 
 <h2 class="text-default"> <b>description: </b></h2>
 <form>
    <b>
   <textarea  rows="10" cols="60" class="form-control form-control-alternative" disabled rows="3" placeholder=""> {{ this.amira[this.id].subtasks[0].description }} </textarea> </b>
 </form>

  
  </div>

