<div class="table-responsive">

    <div>
        <table class="table align-items-center">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="sort" data-sort="name">Number</th>
                    <th scope="col" class="sort" data-sort="budget">Name</th>
                    <th scope="col" class="sort" data-sort="status">Action</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="list">
                
                <tr>
                    <td class="budget">
                        1
                    </td>
                    <th scope="row">
                        <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle mr-3">
                              
                                
                                <img alt="Image placeholder" src="../..//assets/img/brand/favicon.png">
                                
                              
                            </a>
                            <div class="media-body">
                                <span class="name mb-0 text-sm">Ghozzi amira</span>
                            </div>
                        </div>
                    </th>
                   
                    <td>
                        <button type="button" class="btn btn-outline-success">Copy</button>

                    </td>
                    
               </tr>
                
               <tr>
                <td class="budget">
                    2
                </td>
                <th scope="row">
                    <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          
                            
                            <img alt="Image placeholder" src="../..//assets/img/brand/favicon.png">
                            
                          
                        </a>
                        <div class="media-body">
                            <span class="name mb-0 text-sm">Hamzaoui Refka</span>
                        </div>
                    </div>
                </th>
               
                <td>
                    <button type="button" class="btn btn-outline-success">Copy</button>

                </td>
                
           </tr>
           <tr>
            <td class="budget">
                3
            </td>
            <th scope="row">
                <div class="media align-items-center">
                    <a href="#" class="avatar rounded-circle mr-3">
                      
                        
                        <img alt="Image placeholder" src="../..//assets/img/brand/favicon.png">
                        
                      
                    </a>
                    <div class="media-body">
                        <span class="name mb-0 text-sm">El aaber haythem</span>
                    </div>
                </div>
            </th>
           
            <td>
                <button type="button" class="btn btn-outline-success">Copy</button>

            </td>
            
       </tr>
       <tr>
        <td class="budget">
            4
        </td>
        <th scope="row">
            <div class="media align-items-center">
                <a href="#" class="avatar rounded-circle mr-3">
                  
                    
                    <img alt="Image placeholder" src="../..//assets/img/brand/favicon.png">
                    
                  
                </a>
                <div class="media-body">
                    <span class="name mb-0 text-sm">Ben brahim emna </span>
                </div>
            </div>
        </th>
       
        <td>
            <button type="button" class="btn btn-outline-success">Copy</button>

        </td>
        
   </tr>
    
  
        
      
            
            
            </tbody>
        </table>
    </div>
    
    </div>